<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

<h1 class="text-center mt-4">Live Chatroom</h1>

<form action="#" id="new-chat-form" class="mt-4">
  <div>
    <div class="relative rounded-md border border-gray-300 px-3 py-2 shadow-sm focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
      <label for="name" class="absolute -top-2 left-2 -mt-px inline-block bg-white px-1 text-xs font-medium text-gray-900">Name</label>
      <input required type="text" name="name" id="chat-name" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Your Name">
    </div>

    <div class="relative rounded-md border border-gray-300 px-3 py-2 mt-4 shadow-sm focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
      <label for="name" class="absolute -top-2 left-2 -mt-px inline-block bg-white px-1 text-xs font-medium text-gray-900">Message</label>
      <input required type="text" name="name" id="chat-message" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Your Message">
    </div>
  </div>
  <div class="mt-2 flex justify-end">
    <button type="submit" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Post</button>
  </div>
</form>

<ul role="list" class="divide-y divide-gray-200" id="chats" />
